language: python

python:
  - 3.6

install:
  - pip install pipenv
  - pipenv sync --dev
  - pipenv run python -V
  - pipenv run which python

before_script:
  - cp contrib/env-sample .env

script:
  - pipenv run pytest .
