[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
flask = "*"
"flake8" = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
